@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
// 2. Include any default variable overrides here
$light: #f7e6ca;
$primary: #2c5f34;
$font-family-sans-serif:      "Lexend", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       "Lexend", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


@import "../bootstrap/scss/bootstrap";
